$main-font: 'Titillium Web', sans-serif;
$sub-font: 'Quicksand', sans-serif;
$robotic-font: 'Nova Round', cursive;
$mainbgcolor: #16161a;
$subbgcolor:  #27272b;
$containersonidlebgcolor: #e2e4e1;

#checkoutpage {
  position: relative;
  background-color: #edd812;
  background-image: linear-gradient(315deg, #edd812 0%, #766a65 74%);
  width: 100%;
  height: 100vh;
}
#checkoutpagepositioningbuttonscontainer {
  width: 100%;
  height: 22%;
}
#checkoutpagebuttonscontainer {
  background-color: black;
  width: 80%;
  height: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}
#checkoutpagepositioningcontentcontainer {  
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
}
#checkoutpage-contentcontainer1 {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
#checkoutpage-swiper {
  position: relative;
  background-color: rgba(255,255,255,0.2);
  height: 95%; 
  width: 95%;
  border-radius: 30px;
  padding: 10px;
}
.checkoutpage-swiperslide {
  position:relative;
  height: 100%;
  width: 100%;
  padding: 10%;
}
.checkoutpagemacset-itemdisplay {
 // background-color: #ff0000;
 // background-image: linear-gradient(315deg,  #ff0000 0%, #0066ff 100%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding:10px;
  user-select:none;
}
.checkoutpagemacset-itemdisplayimage {
  position:relative;
  height:100%;
  width:100%;
}
.checkoutpagemacsetitemdisplay-macsetname {
  position:relative;
  color: white;
  font: auto {
    family: $main-font;
    weight: 900;
    size: 20px;
  }
  text-align:center;
  letter-spacing: 5px;
  top:0.5vh;
}
#checkoutpage-contentcontainer2 {
  position: relative;
  width: 50%;
  height: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
}
#checkoutpage-positioningcontentcontainer2 {
  position: relative;
  background-color: black;
  border-radius: 30px;
  color: white;
  height: 95%;
  width: 95%;
  padding: 10px;
}
#checkoutpagecontentcontainer2-merchandisecontainer {
  //background-color: red;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1%;
}
.checkoutpagecontentcontainer2merchandisecontainer-merchandisesubtotalindication {
    position: relative;
    top: 1vh; 
}
.checkoutpagecontentcontainer2merchandisecontainer-merchandiseshippingtotalindication {
  position: relative;
  text-align: center;
  top: 1vh;
}
#checkoutpagecontentcontainer2-shippingcontainer {
  width: 100%;
  height: 80%;
  padding: 1%;
}
#checkoutpagecontentcontainer2-totalcontainer {
  background-color: magenta;
  width: 98%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.2%;
  margin-left: auto;
  margin-right: auto;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#checkoutpagecontentcontainer2-totalindication {
  position: relative;
  top: 1vh;
  right: 5%;
  letter-spacing: 4px;
}
.checkoutpagecontentcontainer2shippingcontainer-originatorindication {
  margin-top: 1%;
  letter-spacing: 2px;
}
.checkoutpagecontentcontainer2shippingindication-productname {
  letter-spacing: 2px;
  margin-top: 3vh;
}
.checkoutpagecontentcontainer2shippingindication {
  letter-spacing: 2px;
}
.checkoutpagecontentcontainer2shippingindication-shippingrate {
  letter-spacing: 2px;
}
#checkoutpagepositioningcheckoutbuttoncontainer {
  position:relative;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#checkoutpagepositioningcheckoutbutton {
  position: relative;
  background-color: lighten(orangered, 8%);
  font: auto {
    size: 17px;
    family: $sub-font;
  }
  border: none;
  border-radius: 20px;
  color: white;
  letter-spacing: 5px;
  padding: 10px 8.5%;
  right: 1%;
  top:-0.5vh;
}

///// form modal 
#checkoutpage-formmodal {
  position: relative;
  background-color: #edd812;
  background-image: linear-gradient(315deg, #edd812 0%, #766a65 74%);
  width: 100%;
  height: 100vh;
}

#gcashpaymentmodal {
  background-color: white;  
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}