$mainbgcolor: #16161a;
$subbgcolor:  #27272b;
$containersonidlebgcolor: #e2e4e1;
$main-font: 'Titillium Web', sans-serif;
$sub-font: 'Quicksand', sans-serif;
$robotic-font: 'Nova Round', cursive;
#forum {
  position: relative;
  height: 550px;
  width: 100%;
  margin-top: 10%;
}
#forumheadercontainer {
  position: relative;
  background-color: dodgerblue;
  height: 10%;
  width: 100%;
  border-bottom: 0.5px solid white;
  padding-left: 1%;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
#forumheadernavcontainer {
  display: flex;
}
.selectalladdressscope {
  font: auto {
    family: $sub-font;
  }
  width: 93%;
}
#forumorcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
#selectall {

}
#forumbodycontainer {
  position: relative;
  background-color: rgb(236, 236, 236);
  height: 80%;
  width: 96%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
#forumfootercontainer {
  background-color: dodgerblue;
  height: 10%;
  width: 100%;
  border-bottom: 0.5px solid white;
  padding-left: 1%;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
#enterchatroomoutcontainer {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
#enterchatroombtnseparator {
  position: relative;
  top: 20%;
  color: black;
}
#enterchatroom {
  font: auto {
    family: $sub-font;
  }
  padding: 1px 5px;
  color: dodgerblue;
}
#leavechatroom {
  font: auto {
    family: $sub-font;
  }
  padding: 1px 5px;
  color: tomato;
}
#chatboxcontent {
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100%;
}
#chatboxcontentcontainer {
  border: 1px solid pink;
  height: 100%;
  width: 100%;
}
#chatbox {
  background-color: white;
  height: 85%;
  width: 100%;
  color: black;

  font: auto {
    family: $sub-font;
    letter-spacing: 3px;
  }
}
//////// z index
#chatboxfieldcontainer {
  position: relative;
  background-color: red;
  height: 7.5%;
  width: 100%;
  z-index: 1;
}
#chatboxfield {
  background-color: white;
  position: absolute;
  width: 90%;
  outline-style: none;
  resize: none;
  color: black;
  border: 1px solid black;
  overflow-y: scroll;
}
#chatboxfield ::-webkit-scrollbar {
  display: none;
}
#chatsendbuttoncontainer {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
#forumsendbutton {
  height: 100%;
  width: 5%;
}
#forumsendbuttonimage {
  height: 26px;
  width: 26px;
}
#chatresizerbuttoncontainer {
  position: absolute;
  width: 100%;
  height: 7.5%;
  display: flex;
}
#forumresizerbutton {
  height: 100%;
  width: 5%;
  z-index: 1;
}
#forumresizerbuttonimage {
  height: 26px;
  width: 26px;
}
#chatboxemojicontainer {
  background-color: dodgerblue;
  height: 7.8%;
  display: flex;
  width: 100%;
}
#chatboxemoji-container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
.forumemojicontainer {
  display: flex;
  justify-content: center;
}
.emoji {
  position: relative;
  width: 3%;
  top: 7%;
}
#chatboxwhosonline {
  position: absolute;
  background-color: green;
  width: 35%;
  height: 85%;
  padding: 0px 10px;
  transition: left 0.7s ease;
}
#chatboxwhosonlinecontainer {
  display: flex;
  height: 100%;
}
#chatboxwhosonlinecontainer-togglebtncontainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10%;
  margin-left: -16.5%;
}
#chatboxwhosonlinecontainertogglebtncontainer {
  position: relative;
  height: 30px;
  width: 30px;
}
#changefontsizebutton {
  width: auto;
  font: auto {
    variant: small-caps;
  }
  padding: 5px 10px 5px 5px;
}
#changefontstylebutton {
  width: auto;
  font: auto {
    variant: small-caps;
  }
  padding: 5px 10px 5px 5px;
  margin-left: 10px;
}
#changefontcolorbutton {
  width: auto;
  font: auto {
    variant: small-caps;
  }
  padding: 5px 10px 5px 5px;
  margin-left: 10px;
}
#normal-font-size {
  font: auto {
    size: 20px;
  }
}
#xx-small {
  font-size: xx-small;
}
#x-small {
  font-size: x-small;
}
#small{
  font-size: small;
}
#smaller {
  font-size: smaller;
}
#medium{
  font-size: medium;
}
#large {
  font-size: large
}
#x-large {
  font-size: x-large
}
#xx-large {
  font-size: xx-large
}
#larger {
  font-size: larger
}
#normal-font-size {
  font-style: none;
}
#italic {
  font-style: italic;
}
#bold {
  font-weight: bold;
}
#black {
  color: black;
}
#red {
  color: red;
}
#tomato {
  color: tomato;
}
#green {
  color: green;
}
#blue {
  color: blue;
}
#dodgerblue {
  color: dodgerblue;
}
#skyblue {
  color: skyblue;
}
#aqua {
  color: aqua;
}
#yellow {
  color: yellow;
}
#magenta {
  color: magenta;
}
#violet {
  color: violet;
}
#brown {
  color: brown;
}
#chocolate {
  color: chocolate;
}
.forumchatboxsettings-btncontainer {
  height: 70%;
  width: 15%;

}