$mainbgcolor: #16161a;
$subbgcolor:  #27272b;
$containersonidlebgcolor: #e2e4e1;
$main-font: 'Titillium Web', sans-serif;
$sub-font: 'Quicksand', sans-serif;
$robotic-font: 'Nova Round', cursive;


#mailchimp {
    background-color: white;
    height: 180%;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 20px;
    border-radius: 40px;
}
#mailchimp-hey {
  font: auto {
    family: $sub-font;
  }
  letter-spacing: 5px;
  margin-top: -0.6%;
}
#mailchimp-needresourcesindication {
    font: auto {
        family: $sub-font;
    }
    margin-left: 1.5%;
    margin-top: 1.5%;
    letter-spacing: 2px;
}
#mailchimp-letscommunicate {
    font: auto {
        family: $sub-font;
    }
    margin-left: 6.7%;
    margin-top: 2%;
    letter-spacing: 4px;
}
.mailchimpfield-positioningfield {
    border: none;
    border: 5px solid green;
    border-radius: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 60px;
    margin-top: 4%;
    letter-spacing: 2px;
}
.mailchimpfield {
    border: none;
    border: 5px solid green;
    border-radius: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 60px;
    letter-spacing: 2px;
}
#mailchimp-textarea {
    border: 5px solid green;
    width: 80%;
    height: 48%;
    padding: 10px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    letter-spacing: 1px;
    font: auto {
        size: 18px;
    }
}
#mailchimp-sendbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: magenta;
    color: blue;
    border: none;
    border-radius: 20px;
    padding: 10px 70px;
    margin-top: -0.5%;
    letter-spacing: 6px;
    font: auto {
        family: $sub-font;
        size: small-caps;
        weight: 900;
    }    
}