$mainbgcolor: #16161a;
$subbgcolor:  #27272b;
$containersonidlebgcolor: #e2e4e1;
$main-font: 'Titillium Web', sans-serif;
$sub-font: 'Quicksand', sans-serif;
$robotic-font: 'Nova Round', cursive;


@media only screen and (max-width: 600px) {
 #mailchimp {
  background-color: white;
  height: 95%;
  width: 90%;
  display: flex;
  flex-direction:column;
  justify-content:center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  padding: 20px;
  border-radius: 40px;
}
 #mailchimp-hey {
  font: auto {
    family: $sub-font;
    size:20px;
  }
  letter-spacing: 5px;
  margin-top: -0.6%;
}
#mailchimp-needresourcesindication {
  font: auto {
    family: $sub-font;
    size:15px;
  }
  margin-left: 3%;
  margin-top: 2%;
  letter-spacing: 2px;
}
#mailchimp-letscommunicate {
 font: auto {
   family: $sub-font;
   size:20px;
 }
 margin-left: 6.7%;
 margin-top: 4%;
 letter-spacing: 4px;
}
.mailchimpfield-positioningfield {
 position:relative;
 height:5vh;
 width:100%;
 border: none;
 border: 0.1vh solid green;
 border-radius: 20px;
 text-align: center;
 display: block;
 margin-left: auto;
 margin-right: auto;
 padding: 20px 60px;
 margin-top: 10%;
 letter-spacing: 2px;
 outline-style: none;
}
.mailchimpfield {
 position:relative;
 height:5vh;
 width:100%;
 border: none;
 border: 0.1vh solid green;
 border-radius: 20px;
 text-align: center;
 display: block;
 margin-left: auto;
 margin-right: auto;
 padding: 20px 60px;
 letter-spacing: 2px;
 outline-style:none;
}
#mailchimp-textarea {
 position:relative;
 height:23vh;
 width:100%;
 border: 0.1vh solid green;
 padding: 10px 15px;
 display: block;
 margin-left: auto;
 margin-right: auto; 
 letter-spacing: 1px;
 font: auto {
    size: 18px;
 }
 resize:none;
 outline-style:none;
}
#mailchimp-sendbutton {
 display: block;
 margin-left: auto;
 margin-right: auto;
 background-color: magenta;
 color: blue;
 border: none;
 border-radius: 20px;
 padding: 5px 65px;
 margin-top: -0.5%;
 letter-spacing: 6px;
 font: auto {
    family: $sub-font;
    size: small-caps;
    weight: 900;
 }    
}
}
@media only screen and (min-width: 1200px) { 
#mailchimp {
    background-color: white;
    height: 180%;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 20px;
    border-radius: 40px;
}
#mailchimp-hey {
  font: auto {
    family: $sub-font;
  }
  letter-spacing: 5px;
  margin-top: -0.6%;
}
#mailchimp-needresourcesindication {
    font: auto {
        family: $sub-font;
    }
    margin-left: 1.5%;
    margin-top: 1.5%;
    letter-spacing: 2px;
}
#mailchimp-letscommunicate {
    font: auto {
        family: $sub-font;
    }
    margin-left: 6.7%;
    margin-top: 2%;
    letter-spacing: 4px;
}
.mailchimpfield-positioningfield {
    border: none;
    border: 5px solid green;
    border-radius: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 60px;
    margin-top: 4%;
    letter-spacing: 2px;
}
.mailchimpfield {
    border: none;
    border: 5px solid green;
    border-radius: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 60px;
    letter-spacing: 2px;
}
#mailchimp-textarea {
    border: 5px solid green;
    width: 80%;
    height: 48%;
    padding: 10px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    letter-spacing: 1px;
    font: auto {
        size: 18px;
    }
}
#mailchimp-sendbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: magenta;
    color: blue;
    border: none;
    border-radius: 20px;
    padding: 10px 70px;
    margin-top: -0.5%;
    letter-spacing: 6px;
    font: auto {
        family: $sub-font;
        size: small-caps;
        weight: 900;
    }    
}
}