$mainbgcolor: #16161a;
$subbgcolor: #27272b;
$containersonidlebgcolor: #e2e4e1;
$main-font: "Titillium Web", sans-serif;
$sub-font: "Quicksand", sans-serif;
$robotic-font: "Nova Round", cursive;

@media only screen and (max-width: 600px) {
    #userprofilecontaineritemreview {
        position: relative;
        background-color: black;
        width: 100%;
        height: auto;
    }
    #userprofilecontainer-closebuttoncontaineritemreview {
        background-color: black;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
    }
    #userprofilecontainer-closebuttonitemreview {
        position: relative;
        color: red;
        background-color: white;
        right: 1%;
        top: 1vh;
        border-radius: 50%;
        font: auto {
            family: $sub-font;
            size: 15px;
        }
        padding: 5px 10px;
    }
    #userprofile-usermaindisplaycontaineritemreview {
        position: relative;
        background-color: #e9bcb7;
        background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
        width: 100%;
        height: 87vh;
    }
    #userprofile-coverphotocontaineritemreview {
        background-color: white;
        width: 80%;
        height: 65%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    #userprofile-userprofilecontaineritemreview {
        width: 80%;
        height: 25%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        background-color: aqua;
    }
    #userprofile-userprofilephotoitemreview {
        position: relative;
        background-color: gray;
        width: 15%;
        height: 100%;
        border-radius: 50%;
        top: -10%;
        left: 1.5%;
    }
    #userprofile-usernamecontaineritemreview {
        position: relative;
        height: 100%;
        width: 50%;
        margin-left: 2%;
    }
    .userprofile-userindicationtextitemreview {
        margin-left: 5%;
        color: white;
    }
    .userprofile-userindicationtextusernameitemreview {
        margin-top: 5%;
    }
    #userprofile-followcontaineritemreview {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #userprofile-followbuttonitemreview {
        position: relative;
        background-color: dodgerblue;
        color: white;
        border-radius: 6px;
        width: 70%;
        height: 20%;
        border: none;
        outline-style: none;
        font: auto {
          size: 15px;
        }
        letter-spacing: 7px;
        margin-left: 27%;
        top: -10%;
    }
    #userprofile-mainlinkcontaineritemreview {
        background-color: dodgerblue;
        width: 80%;
        height: 10%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
}

@media only screen and (min-width: 1200px) {
#userprofilecontaineritemreview {
    position: relative;
    background-color: black;
    width: 100%;
    height: auto;
}
#userprofilecontainer-closebuttoncontaineritemreview {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
#userprofilecontainer-closebuttonitemreview {
    position: relative;
    color: red;
    background-color: white;
    right: 1%;
    top: 1vh;
    border-radius: 50%;
    font: auto {
        family: $sub-font;
        size: 15px;
    }
    padding: 5px 10px;
}
#userprofile-usermaindisplaycontaineritemreview {
    position: relative;
    background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
    width: 100%;
    height: 87vh;
}
#userprofile-coverphotocontaineritemreview {
    background-color: white;
    width: 80%;
    height: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#userprofile-userprofilecontaineritemreview {
    width: 80%;
    height: 25%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}
#userprofile-userprofilephotoitemreview {
    position: relative;
    background-color: gray;
    width: 15%;
    height: 100%;
    border-radius: 50%;
    top: -10%;
    left: 1.5%;
}
#userprofile-usernamecontaineritemreview {
    position: relative;
    height: 100%;
    width: 50%;
    margin-left: 2%;
}
.userprofile-userindicationtextitemreview {
    margin-left: 5%;
    color: white;
}
.userprofile-userindicationtextusernameitemreview {
    margin-top: 5%;
}
#userprofile-followcontaineritemreview {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#userprofile-followbuttonitemreview {
    position: relative;
    background-color: dodgerblue;
    color: white;
    border-radius: 6px;
    width: 70%;
    height: 20%;
    border: none;
    outline-style: none;
    font: auto {
      size: 15px;
    }
    letter-spacing: 7px;
    margin-left: 27%;
    top: -10%;
}
#userprofile-mainlinkcontaineritemreview {
    background-color: dodgerblue;
    width: 80%;
    height: 10%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
}