$mainbgcolor: #16161a;
$subbgcolor:  #27272b;
$containersonidlebgcolor: #e2e4e1;
$main-font: 'Titillium Web', sans-serif;
$sub-font: 'Quicksand', sans-serif;
$robotic-font: 'Nova Round', cursive;

#userdashboard {
 position: relative;
 height: 100%;
 width: 100%;
// border: 1px solid red;
 display: flex;
}
#userdashboardnav {
  position: relative;
  //background-color: green;
  border:1px solid black;
  border-right: none;
  width: 20%;
  height: 100%;
  padding: 20px 10px;
}
#userdashboardcontent {
 position: relative;
 //background-color: gray;
 width: 80%;
 height: 100%;
}
#userdashboard-mobilenav {
 background-color: brown;
}
#userdashboard-greetingscontainer {
  position:relative;
  //background-color: aqua;
  border:1px solid black;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
}